.App {
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #bfcadc, #a6b4ca);
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}
.page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.next-container {
  position: relative;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  position: relative;
  z-index: 9999;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.soundContainer {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efebe2;
  border-radius: 70% 90% 85% 100%/100% 85% 90% 70%;
  border: 3px solid black;
  color: black;
  overflow: hidden;
  &:hover {
    background-color: #d6cebb;
    .value-container {
      position: fixed;
      bottom: calc(0.5rem + 50px);
      padding-bottom: 0.3rem;
      display: flex;
      flex-direction: column-reverse;
      transition: opacity 0.3s;
      .value {
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        width: 20px;
        height: 10px;
        background-color: white;
        transition: background-color 0.3s;
        border: 1px solid black;
      }
      .hovered,
      .active {
        background-color: #94add6;
      }

      /* Son 6 eleman */
      .hovered:nth-last-child(-n + 6),
      .active:nth-last-child(-n + 6) {
        background-color: #ffb05e; /* Turuncu */
      }

      .hovered:nth-last-child(-n + 3),
      .active:nth-last-child(-n + 3) {
        background-color: #ff5e5e; /* Kırmızı */
      }
    }
  }
  .value-container {
    display: none;
  }
}

.back-menu-container {
  width: 50px;
  height: 50px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efebe2;
  border-radius: 70% 90% 85% 100%/100% 85% 90% 70%;
  border: 3px solid black;
  color: black;
  overflow: hidden;
}
.back-menu-container:disabled {
  opacity: 0.5;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.3rem;
    padding: 2rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #efebe2;
    border: 5px solid black;
  }
  h2 {
    font-size: 1rem;
    line-height: 1rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: rgb(110, 110, 110);
  }
}

.nextChapterButton {
  text-wrap: nowrap;
  padding: 0.3rem 1rem;
  font-size: 0.875rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: #efebe2;
  border: 2px solid black;
  &:hover {
    background-color: #d6cebb;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
