.App {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-color: #bfcadc;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.soundContainer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999999;
  width: 60px;
  height: 60px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efebe2;
  border-radius: 70% 90% 85% 100%/100% 85% 90% 70%;
  border: 3px solid black;
  color: black;
  overflow: hidden;
  &:hover {
    background-color: #d6cebb;
    .value-container {
      position: fixed;
      bottom: calc(1rem + 60px);
      padding-bottom: 0.3rem;
      display: flex;
      flex-direction: column-reverse;
      gap: 0.2rem;
      transition: opacity 0.3s;
      .value {
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        width: 30px;
        height: 15px;
        background-color: white;
        transition: background-color 0.3s;
        border: 2px solid black;
      }
      .hovered,
      .active {
        background-color: #94add6;
      }
    }
  }
  .value-container {
    display: none;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.3rem;
    padding: 2rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    background-color: #efebe2;
    border: 5px solid black;
  }
  h2 {
    font-size: 1rem;
    line-height: 1rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 0.875rem;
    color: rgb(110, 110, 110);
  }
}

.nextChapterButton {
  text-wrap: nowrap;
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3rem 1rem;
  font-size: 0.875rem;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  background-color: #efebe2;
  border: 2px solid black;
  z-index: 99999999;
  &:hover {
    background-color: #d6cebb;
  }
}
