.bg {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.chapter-container {
  position: relative;
  z-index: 7777;
  overflow: visible;
}
.okan {
  width: 50%;
  height: auto;
  transform: translateX(50%);
}

.show-message {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  span {
    opacity: 0.4;
    font-size: 1rem;
  }
}
.mainTree {
  width: 200px;
  height: 400px;
  position: fixed;
  bottom: 0rem;
  right: 0rem;
  z-index: 1;
  background-color: #abc2e7;
  border-radius: 1rem;
}
.stone {
  width: 200px;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #9cb7e2;
  border-radius: 1rem;
}
.backTree1 {
  width: 100px;
  height: 200px;
  opacity: 0.7;
  // background-color: rgb(0, 70, 0);
  position: fixed;
  bottom: 300px;
  left: 0;
  z-index: 0;
  background-color: #7495c9;
  border-radius: 1rem;
}
.backTree2 {
  width: 100px;
  height: 200px;
  opacity: 0.7;
  position: fixed;
  bottom: 350px;
  right: 0;
  z-index: 0;
  background-color: #678bc5;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .character1 {
    width: 250px;
    height: 250px;
    left: calc(50% - 125px);
  }
  .mainTree {
    width: 100px;
    height: 400px;
  }
  .stone {
    width: 100px;
    height: 400px;
  }
  .backTree1 {
    width: 50px;
    height: 200px;
  }
  .backTree2 {
    width: 50px;
    height: 200px;
  }
}
