.about-jam {
  .about-jam-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    gap: 0.5rem;
    div {
      border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
      background-color: #efebe2;
      border: 2px solid black;
      padding: 1rem;
      h1 {
        font-size: 1.25rem;
        font-weight: 600;
      }
      h3 {
        font-size: 1rem;
        font-weight: 600;
      }
      p {
        font-size: 0.875rem;
      }
    }
  }
}
